<template>
    <div>

        Adminnnnnn
        {{ee}}
        <div v-for="test in ee">{{test.username}}</div>

    </div>
</template>
<script>
  import Admin from '../../../assets/shared/admin'
  export default {
    data () {
      return {
        form: {},
        ee: {}
      }
    },
    methods: {
      loaddata: function () {
        Admin.list().then((data) => {
          console.log(data)
          this.ee = data
        }).catch((data) => {
          console.log('test')
        })
      }
    },
    mounted () {
      this.loaddata()
    }
  }
</script>
<style>

</style>
